name: CI

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  push:
  pull_request:

jobs:
  msvc:
    strategy:
      fail-fast: true
      matrix:
        include: [
          { config: Debug, platform: Win32, bindir: 'win32_vs2022' },
          { config: Debug, platform: x64, bindir: 'win64_vs2022' },
          { config: Release, platform: Win32, bindir: 'win32_vs2022' },
          { config: Release, platform: x64, bindir: 'win64_vs2022' },
        ]
    name: msvc-${{ matrix.config }}-${{ matrix.platform }}
    runs-on: windows-2022
    steps:
      - name: Checkout bx
        uses: actions/checkout@v4
        with:
          repository: bkaradzic/bx
          path: bx
      - name: Checkout bnet
        uses: actions/checkout@v4
        with:
          repository: bkaradzic/bnet
          path: bnet
      - name: Prepare
        uses: microsoft/setup-msbuild@v1.1
      - name: Build
        shell: cmd
        run: |
          cd bnet
          ..\bx\tools\bin\windows\genie.exe vs2022
          msbuild ".build/projects/vs2022/bnet.sln" /m /v:minimal /p:Configuration=${{ matrix.config }} /p:Platform=${{ matrix.platform }}
  mingw:
    strategy:
      fail-fast: true
      matrix:
        include: [
          { msystem: MINGW64, project: 'mingw-gcc', bindir: 'win64_mingw-gcc' },
#          { msystem: CLANG64, project: 'mingw-clang', bindir: 'win64_mingw-clang' },
        ]
    name: mingw-${{ matrix.msystem }}
    runs-on: windows-2022
    steps:
      - name: Checkout bx
        uses: actions/checkout@v4
        with:
          repository: bkaradzic/bx
          path: bx
      - name: Checkout bnet
        uses: actions/checkout@v4
        with:
          repository: bkaradzic/bnet
          path: bnet
      - name: Prepare
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          update: true
          install: make
          pacboy: cc:p
      - name: Build
        shell: msys2 {0}
        run: |
          cd bnet
          make ${{ matrix.project }}-release64 -j$(nproc) AR=ar CC=cc CXX=c++ MINGW=$MINGW_PREFIX
  linux:
    strategy:
      fail-fast: true
      matrix:
        include: [
          { config: debug, binsuffix: Debug },
          { config: release, binsuffix: Release },
        ]
    name: linux-gcc-${{ matrix.config }}64
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout bx
        uses: actions/checkout@v4
        with:
          repository: bkaradzic/bx
          path: bx
      - name: Checkout bnet
        uses: actions/checkout@v4
        with:
          repository: bkaradzic/bnet
          path: bnet
      - name: Build
        run: |
          sudo apt install libgl-dev
          cd bnet
          make -j$(nproc) linux-gcc-${{ matrix.config }}64
  osx:
    strategy:
      fail-fast: true
      matrix:
        include: [
          { config: debug, binsuffix: Debug },
          { config: release, binsuffix: Release },
        ]
    name: osx-arm64-${{ matrix.config }}
    runs-on: macos-14
    steps:
      - name: Checkout bx
        uses: actions/checkout@v4
        with:
          repository: bkaradzic/bx
          path: bx
      - name: Checkout bnet
        uses: actions/checkout@v4
        with:
          repository: bkaradzic/bnet
          path: bnet
      - name: Build
        run: |
          cd bnet
          make -j$(sysctl -n hw.physicalcpu) osx-arm64-${{ matrix.config }}
  android:
    strategy:
      fail-fast: true
      matrix:
        include: [
          { platform: arm64  },
        ]
    name: android-${{ matrix.platform }}
    runs-on: ubuntu-24.04
    steps:
      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r25b
          add-to-path: false
      - name: Checkout bx
        uses: actions/checkout@v4
        with:
          repository: bkaradzic/bx
          path: bx
      - name: Checkout bnet
        uses: actions/checkout@v4
        with:
          repository: bkaradzic/bnet
          path: bnet
      - name: Build
        run: |
          cd bnet
          make -j$(sysctl -n hw.physicalcpu) android-${{ matrix.platform }}
        env:
          ANDROID_NDK_ROOT: ${{ steps.setup-ndk.outputs.ndk-path }}
      - name: Check
        run: |
          cd bnet
          ls -lash ".build/android-${{ matrix.platform }}/bin"
